/* Blue colour scheme for theme */

a {
    color: #005599;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .tag-cloud a, .widget a {
    color: inherit;
}

p.entrydate, .entry h2, .entry h2 a {
    color: #333399;
}

.entry h2 {
    border-bottom: 1px solid #8cacbb;
    padding-bottom: 1px;
}

.post-footer > li {
    border-left: 1px solid #8cacbb;
}

div.pagination a, div.pagination strong {
    border: 1px solid #B4D2E7;
}

div.pagination a:hover {
    background-color: #EBF2FA;
}
