/* Zine-specific style changes to Fluid 960 */

body {
    font: 13px/1.5 "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Lucida Sans", Verdana, sans-serif;
    border-top: 0;
    margin: 0;
}

.container_16 {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

i, em, cite {
    font-family: "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, p#tagline,
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em, p#tagline em {
    font-family: Cambria, Georgia, serif;
}

#header {
    background-color: #575F6A; /* #5B748F; */
    margin-bottom: 2em;
    color: #c3c4c7;
}

#footer {
    background-color: #e2e2e2;
    padding: 3em 0 2em 0;
}

#copyright {
    margin-top: 1em;
}

#sidebar {
    background-color: #E2E2E2;
    height: 100%;
    -moz-border-radius: 0.75em;
    -webkit-border-radius: 0.75em;
    border-radius: 0.75em;
    margin-bottom: 1em;
}

a {
    font-weight: inherit;
    color: #005599;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

a:hover {
    border-bottom: 1px solid #999;
}

.flickr_badge_image {
    margin: 0;
    padding: 0;
    display: inline;
}

#flickr_illustrations ul, #flickr_badge_wrapper ul {
    list-style-type: none;
    list-style-image: none;
    list-style: none;
}

#flickr_illustrations ul li, #flickr_badge_wrapper ul li {
    display: inline;
    padding: 0;
    margin-left: 0;
}

.multiphoto img, .mainphoto img, .photo img, .sidepic img, 
.flickr_badge_image img, .avatar img, #flickr_illustrations img,
#flickr_badge_wrapper img, img.photo, img.sidepic {
    padding: 0.5em;
    background-color: #eee;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    margin-right: 0.3em;
}

.mainphoto img {
    padding: 1em;
}

#flickr_badge_wrapper img {
    background-color: #ccc;
}

.widget a {
    color: #005599;
    border-bottom: 0;
    text-decoration: none;
}

.widget a:hover, .tag-cloud a:hover {
    border-bottom: 1px solid #999;
}

.widget h3 a {
    color: black;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .tag-cloud a {
    text-decoration: none;
    border-bottom: 0;
    color: inherit;
}

h1 a:hover {
    border-bottom: 0;
}

.mainphoto a, .photo a, .multiphoto a, .journalpic a, #flickr_badge_wrapper a,
a.photo, a.journalpic, #flickr_illustrations a,
.mainphoto a:hover, .photo a:hover, .multiphoto a:hover, .journalpic a:hover,
#flickr_badge_wrapper a:hover, a:hover.photo, a:hover.journalpic,
#flick_illustrations a:hover {
    border-bottom: 0;
}

pre, div.comment {
    overflow: auto;
}

p, pre, ul, ol, blockquote, form, dl, dd {
    margin-bottom: 1em;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: square;
    list-style-image: url(img/bullet.png);
}

ul li {
	margin-left: 1.5em;
}

ol li {
    margin-left: 1cm;
}

.widget ul {
    list-style-type: none;
    list-style-image: none;
}

.widget ul li {
    margin-left: 0;
}

span.amp {
  font-style: italic;
  font-weight: normal;
  font-family: Baskerville, Constantia, Palatino, "Palatino Linotype", "Book Antiqua", "URW Palladio L", serif;
  font-size: 1.5 em;
}

.columns {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-gap: 0.5em;
    -moz-column-gap: 0.5em;
    -webkit-column-gap: 0.5em;
}

.tag-cloud {
    overflow: hidden;
}

div.intro {
    border-bottom: 1px dashed #ccc;
}

form.comments textarea {
    width: 100%;
}

input.code {
    font-family: monospace;
}

#sidebar .widget {
    margin: 1em 1em 2em 1em;
}

h3, h3 em, h3 i, h3 cite {
    font-family: "Fontin Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Lucida Sans", Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 1em;
    margin-bottom: 0;
}

.widget h3 {
    margin-top: 0;
    margin-bottom: 1em;
}

/* .widget dt {
    border-bottom: 1px solid #8cacbb;
} */

#sidebar .widget dt, #sidebar .widget dd, #sidebar .widget dl {
    /* padding-left: 0.3em; */
    margin-left: 0;
    margin-bottom: 0;
}

h1 {
	font-weight: normal;
	font-size: 2.5em;
	text-align: left;
	padding: .7em 0 0 0;
	margin-bottom: 0;
}

p#tagline {
    line-height: 1.2em;
	font-weight: normal;
	font-size: 1.2em;
	text-align: left;
	padding: 0 0 1em 2.25em;
	margin-top: 0;
	margin-bottom: 1em;
	color: #878E9A;
}

h2 {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0;
}

.entry h2 {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 0.25em;
    padding-bottom: 2px;
    line-height: 100%;
    color: #474a51; /* #333399;*/
    /* border-bottom: 1px solid #8cacbb; */
}

.entry h2 a {
    color: #474a51;
}

.entry h2 a:hover {
    color: #408db4;
    border-bottom: 0;
}

.discreet {
    color: #76797c;
}

.mainphoto, .photo, .multiphoto {
    color: #76797c;
    font-size: 0.85em;
    margin: 0.5em 1em 1em 0;
}

.photo {
    float: left;
}

.sidepic {
    float: right;
}

.sideimage, .sidepic {
    float: right;
    margin: 0.5em 0 0.5em 1em;
    color: #76797c;
    font-size: 85%;
}

.sideimage a, .sidepic a {
    border-bottom: 0;
}

.related {
    font-size: 0.85em;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.related .category {
    font-weight: bold;
}

.entry {
    margin-bottom: 2em;
}

p.entrydate {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 0.85em;
    color: #474a51;
}

blockquote {
    font-size: 100%;
    font-family: inherit;
    padding-left: 1em;
    border-left: 0.5em solid #ccc;
    margin-left: 0.2em;
    color: #555;
}

pre {
    border: 1px solid #dddddd;
    background: #f6f6f6;
    padding: 0.5em;
}

/* Comments */

#comments, #comments ul {
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 0;
}

#comments ul {
    margin-left: 30px;
}

#comments li {
    margin: 0;
    padding: 0;
}

#comments li div.comment {
    border: 1px solid #dddddd;
    background: #f6f6f6;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

#comments li div.comment .subject {
    font-weight: bold;
}

#comments li div.blocked {
    opacity: 0.5;
}

#comments li div.blocked:hover {
    opacity: 0.8;
}

#comments li div.deleted {
    text-decoration: line-through;
}

#comments p.meta {
    border-bottom: 1px solid #dddddd;
    margin-left: 91px; /* Make space for avatar; see below */
}

#comments p.meta a {
    font-weight: bold;
    border-bottom: 0;
}

#comments p.meta a:hover {
}

#comments p.meta .anonymous {
    font-style: italic;
}

#comments p.meta .author {
    font-weight: bold;
}

#comments div.comment .commentadmin {
    display: none;
}

#comments div.comment:hover .commentadmin {
    display: inline;
}

#comments li div.comment div.avatar {
    float: left;
    padding-right: 0.5em;
    width: 88px;
    height: 88px;
}

#comments li div.comment div.avatar img {
    max-width: 80px;
    max-height: 80px;
    background-color: #ddd;
    padding: 4px;
}

.leave_reply {
    margin-top: 2em;
}

/* Pagination */
div.pagination {
    margin: 1em 0;
    text-align: center;
}

div.pagination span.commata {
    display: none;
}

div.pagination a, div.pagination strong {
    padding: 2px 5px;
    margin: 0 2px;
    text-decoration: none;
    border: 1px solid #B4D2E7;
}

div.pagination a:hover {
    background-color: #EBF2FA;
}

/* This is for the permalink and other metadata attached to a post */
.post-footer {
    clear: both;
    float: right;
    white-space: nowrap;
    list-style-image: none;
    list-style-type: none;
    text-align: right;
    font-weight: normal;
}

/* .post-footer:before {
    content: "("
}

.post-footer:after {
    content: ")"
} */

.post-footer li {
    display: inline;
    margin: 0;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.post-footer > li {
    border-left: 1px solid #8cacbb;
}

.post-footer > li:first-child {
    border-left: 0;
    padding-left: 0;
}

.post-footer li.status {
    font-weight: bold;
}

/* Twitter widget */
#twitter_widget p#preloader {
    padding-left: 3em;
    background: transparent url("img/loader.gif") 1em center no-repeat;
}

#twitter_widget ul#twitter_update_list {
	/* margin: 0;
	padding: 0 1em 0.5em 1em; */
	list-style-type: none;
}

#twitter_widget ul#twitter_update_list li {
    margin-bottom: 1em;
	/* margin: 0;
	padding: 0.8em 0 1em 0;
	border-bottom: 1px solid #ccc; */
}

#twitter_widget ul#twitter_update_list li a {
	/* timestamp link */
	color: #6A00A5;
}

#twitter_widget ul#twitter_update_list li span {
	display: block;
}

#twitter_widget ul#twitter_update_list li span a {
	/* links in tweet */
	color: #005599;
}

#twitter_widget ul#twitter_update_list li.firstTweet {
}

#twitter_widget ul#twitter_update_list li.lastTweet {
	border-bottom: none;
}

#twitter_widget a#profileLink {
	display: none;
	border-bottom: 1px solid transparent;
	/* padding: 0.3em 1em;
	color: #fff;
	background-color: #888; */
}
