<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ cfg.language|e }}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {%block titletags -%}
  <title>{% block title %}{% endblock %} &mdash; {{ cfg.blog_title|e }}</title>
  <meta name="DC.title" content="{{ self.title()|e }} &mdash; {{ cfg.blog_title|e }}">
  {%- endblock %}
  <link rel="stylesheet" type="text/css" href="{{ shared_url('zaiki_theme::960/reset.css') }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ shared_url('zaiki_theme::960/grid.css') }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ shared_url('zaiki_theme::zine.css') }}" media="screen">
  <!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ shared_url('zaiki_theme::960/ie6.css') }}" media="screen">
                <link rel="stylesheet" type="text/css" href="{{ shared_url('zaiki_theme::zine-ie.css') }}" media="screen"><![endif]-->
  <!--[if gte IE 7]><link rel="stylesheet" type="text/css" href="{{ shared_url('zaiki_theme::960/ie.css') }}" media="screen">
                <link rel="stylesheet" type="text/css" href="{{ shared_url('zaiki_theme::zine-ie.css') }}" media="screen"><![endif]-->
  {{ get_page_metadata() }}
  <!-- Widgets -->
  <script type="text/javascript" src="{{ shared_url('zaiki_theme::js/jquery.twitter.js') }}"></script>
  <script type="text/javascript" src="{{ shared_url('zaiki_theme::js/jquery.flickr-1.0.js') }}"></script>	
  {% if cfg['zaiki_theme/dopplr_script_id'] -%}
    <script type="text/javascript" src="http://www.dopplr.com/blogbadge/script/{{ cfg['zaiki_theme/dopplr_script_id']|e }}"></script>
  {%- endif %}
</head>
<body>
  <div id="header">
    <div class="container_16">
      <div class="grid_16">
        <h1 id="site-title"><a href="{{ url_for('blog/index')|e }}">{{ cfg.blog_title|amp }}</a></h1>
        <p id="tagline">{{ cfg.blog_tagline|amp }}</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="container_16">
    <div class="grid_11" id="content">
      {{ emit_event('before-contents-rendered') }}
      {% block contents %}{% endblock %}
      {{ emit_event('after-contents-rendered') }}
    </div>
    <div class="grid_5" id="sidebar">
      {{ render_widgets() }}
    </div>
    <div class="clear"></div>
  </div>
  <div id="footer">
    <div class="container_16">
      <div class="grid_8">
        {{ widgets.post_archive_summary('months', 4, show_title=true) }}
      </div>
      <div class="grid_8">
        {{ widgets.latest_posts(show_title=true) }}
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="container_16">
    <div class="grid_16" id="copyright">
      <p>{{ cfg['zaiki_theme/copyright'] }} {{cfg['zaiki_theme/license'] }} {% trans zine='<a href="http://zine.pocoo.org/">Zine</a>'
        %}Proudly powered by {{ zine }}.{% endtrans %}</p>
    </div>
    <div class="clear"></div>
  </div>
</body>
</html>
