{% extends "layout.html" %}
{% from "_comment.html" import render_comments, render_comment_editor %}
{% from "_entry.html" import render_entry_related %}
{% block title %}{{ entry.title|e }}{% endblock %}
{% block contents %}
  <div class="entry">
    <p class="entrydate">{{ entry.pub_date|dateformat('full')|e }}</p>
    <h2>{{ entry.title|e }}</h2>
    {% if entry.intro %}
      <div class="intro">{{ entry.intro }}</div>
    {% endif %}
    <div class="text" id="extended">{{ entry.body }}</div>
    <div class="clear"></div>
    <div class="related">
      {{ render_entry_related(entry, comment_count=false) }}
    </div>
    <div class="clear"></div>
  </div>
  <div class="entry">
    {%- if entry.comments %}
      {{ render_comments(entry) }}
    {%- endif %}
    {%- if entry.comments_enabled %}
      <h3 id="leave-reply">{{ _("Leave a Reply") }}</h3>
      {{ render_comment_editor(entry, form) }}
    {%- endif %}
  </div>
{% endblock %}
