{% extends "layout.html" %}
{% block title %}{% trans category=category.name|e %}Show “{{ category }}”{% endtrans %}{% endblock %}
{% from "_entry.html" import render_entry %}
{% block contents %}
  <h2 class="specialpage">{% trans category=category.name|e %}Entries in the Category “{{ category }}”{% endtrans %}</h2>
  {%- for post in posts %}
    {{ render_entry(post) }}
  {% else %}
  <p>
    {{ _('None found.') }}
  </p>
  {%- endfor %}
  {%- if pagination.necessary %}
  <div class="pagination">
    {{ pagination.generate() }}
  </div>
  {%- endif %}
{% endblock %}
